# -----------------------------
# Python / Django
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/
coverage/
htmlcov/

# Virtual env
venv/
.venv/
env/
ENV/
pip-wheel-metadata/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/

# -----------------------------
# Node / React / Vite
# -----------------------------
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# -----------------------------
# OS / Editor junk
# -----------------------------
.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

# -----------------------------
# Env files
# -----------------------------
.env
.env.*
!.env.example


# -----------------------------
# DB dumps
# -----------------------------
*.sql
*.dump
